:root {
  --background: #ffffff;
  --foreground: #121212;
  --card: #ffffff;
  --card-foreground: #121212;
  --primary: #030213;
  --primary-foreground: #ffffff;
  --secondary: #f0f0f4;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --border: rgba(0, 0, 0, 0.1);
  --border-50: rgba(0, 0, 0, 0.05);
  --ring: #b0b0b0;
  --radius: 0.625rem;
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.dark {
  --background: #121212;
  --foreground: #f9f9f9;
  --card: #121212;
  --card-foreground: #f9f9f9;
  --primary: #f9f9f9;
  --primary-foreground: #252525;
  --secondary: #373737;
  --secondary-foreground: #f9f9f9;
  --muted: #373737;
  --muted-foreground: #a7a7a7;
  --accent: #373737;
  --accent-foreground: #f9f9f9;
  --border: #373737;
  --border-50: rgba(55, 55, 55, 0.5);
  --ring: #555555;
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.35), 0 8px 10px -6px rgba(0, 0, 0, 0.35);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
